.movies-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3rem 2rem;
    padding: 2.5rem 6rem 1rem;
    position: relative;
    .movie-item {
        position: relative;
        overflow: hidden;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .movies-grid {
        grid-template-columns: repeat(3,1fr);
        padding: 3rem 5rem;
    }
}

@media screen and (max-width: 700px) {
    .movies-grid {
        grid-template-columns: repeat(2,1fr);
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 430px) {
    .movies-grid {
        grid-template-columns: 1fr;
        padding: 3rem 2.5rem;
    }
}

.infos-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(2,2,2,.9);
        opacity: 0;
        transition: opacity .2s ease;
        will-change: opacity;
        z-index: 5;
    }
    .infos-box {
        display: grid;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .2s ease;
        will-change: opacity;
        z-index: 10;
        .infos-one {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .8rem;
            color: #b7c7bd;
            opacity: .7;
            padding: .8rem 0;
        }
        .infos-two {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;
            text-align: center;
            color: #b7c7bd;
            font-size: 1.1rem;
        }
        .infos-three {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .8rem;
            padding: 0 1rem;
        }
    }
    &:hover .infos-box, &:hover:before {
        opacity: 1;
    }
    &:hover {
        cursor: pointer;
    }
    a {
        color: inherit;
    }
}

.loading {
    color: inherit;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: 3.5rem;
}

.search-input {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    input {
        padding: 3px 10px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #03ce76;
        color: #03ce76;
        font-size: 20px;
        &:focus {
            outline: 0;
        }
        &::placeholder {
            font-size: 19px;
        }
    }
}